#bodySponsors{
    margin: 0;
    max-width: 100%;
    background: url(../Images/pw_pattern.png);
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);

    grid-template-areas: "header header"
                            " nav nav"
                            "form form"
                            "logos logos"
                            "sponsors sponsors"
                            "footer footer";
}

.formNuevo{
    grid-area: form;
}

form{
    text-align: center;
    padding-left: 0px;
}
.tituloForm{
    font-size: 1.5rem;
    color: darkcyan;
}
section div form{
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.containerPrincipal{
    margin: 20px auto;
    grid-gap: 20px;
    z-index: -1;

    &__fotoSponsor{
        max-width: 100%;
        max-height: 100%;    
    }
}

.sponsorsUno{
    grid-area: logos;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

div img{
    max-width: 100%;
}

.formSponsor{
    display: flex;
    align-items: center;
}

section div form fieldset legend{
    font-size: medium;
}

.logosSponsors{
    grid-area: sponsors;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    transition: all 2s;

    &__imgCopar{
        max-width: 100%;
    }

    &__imgSieger{
        max-width: 100%;
    }

    &__imgTokio{
        max-width: 100%;
    }

}

fieldset{
z-index: -1;
}


#botonEnviar:hover{
    transform: scale(2,2);
    background-color: lightskyblue;
    color:white;
    font-size:10px;
    border:0;
}

#botonDos:hover{
    transform: scale(2,2);
    background-color: lightskyblue;
    color:white;
    font-size:10px;
    border:0;     
}

