<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Con el objetivo de concretar el sueño olímpico de Alejandro, puedes realizar tu donación o formar parte de sus sponsors oficiales. ¡Contáctame!">
        <meta name="keywords" content="Alejandro, Vera, sponsors, donación, sueño olímpico, contacto, remo">
        <link rel = "preconnect" href = "https://fonts.gstatic.com">
        <link href = "https://fonts.googleapis.com/css2? family = Redressed & display = swap" rel = "stylesheet ">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/estilo.css">
        <title>Alejandro Vera - Sponsors</title>

        
    </head>
    <body id="bodySponsors" class="container-fluid">

        <header class="row encabezado">
            <div class="encabezado__contenedor">
                <p class="encabezado__titulo">
                    Alejandro Vera <br>
                    Remo Paralímpico
                </p>
            </div>
        </header>

        <nav id= "paraNav" class="col-12 navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active mr-4">
                  <a class="nav-link" href="../indexprueba.html">Sobre mi <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mr-4">
                  <a class="nav-link" href="../views/logros.html">Logros</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="../views/galeria.html">Galería</a>
                  </li>  
                <li class="nav-item mr-4">
                  <a class="nav-link" href="../views/calendario.html">Calendario</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="./sponsors.html">Sponsors</a>
                  </li>
                </li>
              </ul>
            </div>
          </nav>

        <br>
        
            <div class="formNuevo row">
              <section class="formSponsor col-12 col-md-6" >
                <div>
                    <form class="paraFormulario" action="">
                        <fieldset>
                            <legend>Formulario para Sponsorear el sueño de Alejandro</legend>
                            <label for="nombreDonante">Nombre</label>
                            <input type="text" placeholder="Ingrese su nombre" id="nombreDonante">
                            <label for="apellidoDonante">Apellido</label>
                            <input type="text" placeholder="Ingrese su apellido" id="apellidoDonante">
                            <label for="Celphone">Teléfono de Contacto</label>
                            <input type="number" placeholder="Ingrese su número de contacto" id="Celphone">
                        
                            <br>

                            <fieldset>
                                <legend>Tipo de ayuda</legend>
                                <select name="Tipo de colaboración" id="">
                                        <option value="Donación">Donación</option>
                                        <option value="Ser auspiciante">Ser auspiciante</option>
                                </select>
                            </fieldset>
                            
                            <br>
                        
                            <hr size="4px" color="grey">

                            <br>
                        
                            <fieldset>
                                <legend>Periodicidad de la ayuda</legend>
                        
                                <label for="">Mensual</label>
                                <input type="radio"name="Periodicidad">
                                <label for="">Anual</label>
                                <input type="radio"name="Periodicidad">
                                <label for="">Por única vez</label>
                                <input type="radio"name="Periodicidad">
                            </fieldset>

                        <br>
                                <input id="botonEnviar" class="btn btn-success" type="submit" value="Enviar">
                                <input id="botonDos" class="btn btn-info" type="reset" value="Reestablecer">

                        </fieldset>

                    </form>
                    
                </div>
              </section>
        
              <div class="containerPrincipal col-12 col-md-6">
                <img class="containerPrincipal__fotoSponsor" src="../Images/Ale-body.jpeg" alt="concentración de Alejandro">
              </div>

            </div>

       

        <div class="logosSponsors">
            <img class="logosSponsors__imgCopar" src="../Images/copar.jpg" alt="">
            <img class="logosSponsors__imgSieger" src="../Images/sieger-logo.png" alt="">
            <img class="logosSponsors__imgTokio" src="../Images/logo_tokyo-2020-paralympic-games.jpg" alt="">
            <img class="logosSponsors__imgSieger" src="../Images/sieger-logo.png" alt="">
            <img class="logosSponsors__imgCopar" src="../Images/copar.jpg" alt="">
        </div>

        <footer class="piePagina">
            <div class="piePagina__contenido">
                Powered by Taragüí <br>
                Contacto: 3794-782374 <br>
                Facebook: AlejandroVera <br>
                Instagram: alemVera31 <br>
            </div>
        </footer>



        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    </body>
</html>